<% layout("/layouts/boilerplate") %>
<div class="row mt-3 d-flex flex-column align-items-center">
    <div class="alert alert-danger col-6 d-flex flex-column align-items-center" role="alert">
        <h3><%= err.statusCode %></h3>
        <p><%= err.message %></p>
    </div>
</div>